<div class="container box">

  <div class="row">
    <form action="/" method="get">
      <div class="six columns">
        <button class="button-primary" type="submit">Home</button>
      </div>
    </form>

    <div class="six columns">
      <form action="/reset" method="post">
        <button class="button-primary" type="submit">Reset</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <table class="cen">
        <tr>
          <th>Name(s)</th>
          <th>Isizulu</th>
          <th>Spanish</th>
          <th>English</th>
          <th>Count greeted</th>
          <th>Delete</th>
        </tr>

        {{#each greeting}}
          <tr>
            <td>
              <a href="/counter/{{names}}">{{names}}</a>
            </td>
            <td>{{isizulu}}</td>
            <td>{{spanish}}</td>
            <td>{{english}}</td>
            <td>{{counts}}</td>
            <td>
                <form action="/remove/{{id}}" method="post">
                    <button class="button-secondary secform" type="submit">Remove</button>
                </form>
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>

</div>